html {
	background-color: #b5c9d1 !important;
}
.wswrapper {
	width: 760px !important;
	background-color: white !important;
	margin: 24px auto !important;
	padding: 50px !important;
	line-height: 1.3;
	font-size: 1.05em;
}
div {
	margin: 0 !important;
	padding: 0 !important;
}
a {
	color: #031DB5;
}

.wsnavbar {
	width: 100%;
	background: #333;
	border-bottom: 2px #666 solid;
	padding: 5px 40px !important;
	color: #ddd;
	text-align: center;
}

.wstitle {
	float: left;
	font-size: 30px;
	line-height: 40px;
}

.wsurlform {
	padding: 0 174px 0 0 !important;
	font-size: 20px;
	line-height: 40px;
}